.works {
    @media screen and (min-width:320px) and (max-width:1199px){
    display: none;
    }
    @media screen and (min-width:1200px){
    padding-bottom: 94px;
    }
}

.works-list {
    display: flex;
    gap: 30px;
}

.works-item {
    position: relative;
}

.overlay-box {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}

.overlay-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--link-color);
    text-transform: uppercase;
    margin-top: 27px;
}