:root {
    --main-color: #212121;
    --accent-color: #2196f3;
    --description-color: #757575;
    --link-color: #ffffff;
}
body {
    background-color: var(--link-color);
    font-family: "Roboto", sans-serif;
}

